.checkout {
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    padding: 30px;
    min-height: 76vh;
}

.checkout_right {
    padding-top: 20px;
    margin-left: auto;
}


@media screen and (max-width: 600px) {
    .checkout {
        margin-top: 10px;
        flex-direction: column;
        font-size: smaller;
        flex: 1;
    }

    .checkout_right {
        order: 1;
        padding: 0;
    }
    
  }